<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @scouter.team %>
</p>

<p>
  <strong>Player1:</strong>
  <%= @scouter.player1 %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @scouter.player2 %>
</p>

<p>
  <strong>Player3:</strong>
  <%= @scouter.player3 %>
</p>

<p>
  <strong>Player4:</strong>
  <%= @scouter.player4 %>
</p>

<p>
  <strong>Player5:</strong>
  <%= @scouter.player5 %>
</p>

<%= link_to 'Edit', edit_scouter_path(@scouter) %> |
<%= link_to 'Back', scouters_path %>
