<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @scouter.team %>
  <br>
  <% if @scouter.team.present?%>
      <%= esports_team_scraper(@scouter.team) %>
  <% end %>
</p>

<p>
  <strong>Player1:</strong>
  <%= @scouter.player1 %>
  <br>
  <% if @scouter.player1.present?%>
      <%= recent_games_scraper(@scouter.player1) %>
  <% end %>
</p>

<p>
  <br>
  <strong>Player2:</strong>
  <%= @scouter.player2 %>
  <br>
  <% if @scouter.player2.present?%>
      <%= recent_games_scraper(@scouter.player2) %>
  <% end %>
</p>

<p>
  <br>
  <strong>Player3:</strong>
  <%= @scouter.player3 %>
  <br>
  <% if @scouter.player3.present?%>
      <%= recent_games_scraper(@scouter.player3) %>
  <% end %>
</p>

<p>
  <br>
  <strong>Player4:</strong>
  <%= @scouter.player4 %>
  <br>
  <% if @scouter.player4.present?%>
      <%= recent_games_scraper(@scouter.player4) %>
  <% end %>
</p>

<p>
  <br>
  <strong>Player5:</strong>
  <%= @scouter.player5 %>
  <br>
  <% if @scouter.player5.present?%>
      <%= recent_games_scraper(@scouter.player5) %>
  <% end %>
</p>

<%= link_to 'Scout Again', new_scouter_path(@scouter) %>
